.confirmation-container-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'San Francisco', sans-serif;
}

.card-custom {
  background-color: #e6e6e6;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirmation-container-custom .title-custom {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.confirmation-container-custom .subtitle-custom {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.verification-container-custom {
  margin-bottom: 1em;
}

.email-icon {
  width: 100px;
  height: 100px;
}

.code-input-custom {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.code-digit-input-custom {
  border: 1px solid black;
  font-size: 1em;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 0.5em;
}

.button-row-custom {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.continue-button-custom,
.cancel-button-custom {
  border: none;
  background-color: black;
  color: white;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  margin-left: 20px;
}
