/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Raleway:wght@400;700&display=swap');

body {
  background-color: #fff;
  color: #333;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}



.home-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.cases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: white;
  width: 100%;
  max-width: 8000px; /* Ajusta el valor del ancho máximo según tus necesidades */
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}


.card:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.card .last-modified {
  font-size: 0.8em;
  color: #777;
  margin-bottom: 10px;
}

.card p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
}

.card button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.card button:hover {
  background-color: #555;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1.2em;
  margin: 0 20px;
  transition: color 0.3s ease-in-out;
}

.pagination button:hover {
  color: #555;
}

.pagination button:disabled {
  color: #ccc;
}
.floating-button-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  /* Agrega sombra si deseas un efecto de elevación */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.floating-button-right:hover {
  background-color: #555;
}
