.navbar {
  background-color: #000000;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  font-size: 16px;
  padding: 0px 15px;
}

.navbar-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #888888;
  cursor: pointer;
}

li {
  color: #FFFFFF;
}

.username {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}
.username-icon {
  color: #FFFFFF;
}

.username-text {
  color: #FFFFFF; 
}