h1 {
  font-family: 'San Francisco', sans-serif;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: white;
  color: black;
  width: 70%; /* Ampliando el contenedor para aprovechar más el ancho de la pantalla */
  margin: 0 auto; /* Centrar el contenedor */
  max-width: 600px;
}

.centered-apple-font {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}

.form-row {
  display: grid; /* Cambiando a grid para mayor flexibilidad */
  grid-template-columns: 1fr 1fr; /* Dividiendo la fila en dos columnas de igual ancho */
  gap: 1em; /* Espaciado entre elementos de la cuadrícula */
  margin-bottom: 1em;
  width: 100%;
}

/* Cuando sólo hay un elemento en la fila (una columna completa) */
.form-row > label, .form-row > input, .form-row > select {
  grid-column: span 2; /* Abarcando ambas columnas */
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1em;
  margin-bottom: 0.5em;
}

input,
select {
  border: 1px solid black;
  padding: 0.6em; 
  font-size: 1em;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

button {
  border: none;
  background-color: black;
  color: white;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
}

.success-message,
.error-message {
  text-align: center;
  margin-top: 1em;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
