/* RegisterUser.css */

@font-face {
  font-family: 'AppleFont';
  src: url('../fonts/AppleFont-Regular.ttf') format('truetype');
  /* Agrega aquí otros formatos de fuente si los tienes, como woff o woff2 */
  /* Ajusta la ruta del archivo de fuente según dónde hayas guardado los archivos en tu proyecto */
}

/* Luego, aplica la fuente a los elementos que deseas en tu formulario */
.form-row label,
.form-row input,
.form-row select,
.button-row button {
  font-family: 'AppleFont', Arial, sans-serif;
  /* Asegúrate de tener Arial o una fuente de respaldo para los casos en que la fuente de Apple no esté disponible */
}

.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.form-row {
  margin-bottom: 20px;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-row input,
.form-row select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.half-input {
  display: inline-block;
  width: calc(50% - 5px);
  margin-right: 10px;
}

.button-row {
  text-align: center;
  justify-content: center;
}

.register-button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0069d9;
}

.register-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.centered-apple-font {
  text-align: center;
  font-family: 'AppleFont', Arial, sans-serif;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
