.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
  font-family: 'San Francisco', sans-serif;
}

.form-title {
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
}

.form-card {
  background-color: #e6e6e6;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  box-sizing: border-box;
}

.form-row {
  margin-bottom: 1.5em;
}

label {
  font-size: 1em;
  margin-bottom: 0.5em;
}

input,
select {
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
  box-sizing: border-box;
}

.half-input {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.half-input:first-child {
  margin-right: 30px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

